.helloWorld{
	color:#333;
}
.inlineButton{
	text-decoration: none !important;
	color: rgb(51, 51, 51);
	box-shadow: 1px 2px 2px rgb(51, 51, 51);
	background-color: rgb(236, 236, 236);
	display: inline-block;
}
.inlineButton:last-of-type{
	margin-left: 20px;
}
.eachElement{
	width: 100px;
	display: inline-block;
	color: #333;
}
.oneEntry{
	margin-bottom: 15px;
}
.oneEntry:nth-child(even){
	background-color: #33c7ff;
}
.oneEntry{
	width:300px;
	margin-top: 15px;
}
.adder{
	box-shadow: 1px 1px 1px;
	width: 190px;
	text-align: center;
	background-color: rgb(236, 236, 236);
}